src/main/java/com/example/soapclient/Service/LigerMessageWebPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://tempuri.org" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://tempuri.org" schemaLocation="LigerMessageWebPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="GetFixListRangeData">
    <part name="parameters" element="tns:GetFixListRangeData"/>
  </message>
  <message name="GetFixListRangeDataResponse">
    <part name="parameters" element="tns:GetFixListRangeDataResponse"/>
  </message>
  <message name="SOAPException">
    <part name="fault" element="tns:SOAPException"/>
  </message>
  <portType name="LigerMessageWeb">
    <operation name="sayHello">
      <input ns1:Action="http://tempuri.org/LigerMessageWeb/sayHelloRequest" message="tns:sayHello" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://tempuri.org/LigerMessageWeb/sayHelloResponse" message="tns:sayHelloResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="GetFixListRangeData">
      <input ns3:Action="http://tempuri.org/LigerMessageWeb/GetFixListRangeDataRequest" message="tns:GetFixListRangeData" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://tempuri.org/LigerMessageWeb/GetFixListRangeDataResponse" message="tns:GetFixListRangeDataResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SOAPException" name="SOAPException" ns5:Action="http://tempuri.org/LigerMessageWeb/GetFixListRangeData/Fault/SOAPException" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

